form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  
    h2 {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    }
  
    label {
      display: block;
      margin-bottom: 8px;
      color: #333;
    }
  
    select,
    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  
    textarea {
      resize: vertical;
    }
  
    button {
      margin-top: 20px;
      width: 100%;
      padding: 10px;
      background-color: var(--red-color);
      color: var(--white-color);
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }
  
    label.checkbox-label {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
  
      input {
        margin-right: 8px;
      }
    }
  }
  
  button.goBack {
    margin-top: 10px;
    margin-left: 10px;
    width: 120px;
    cursor: pointer;
    background-color: var(--light-blue-color);
    color: var(--white-color);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: --light-blue-color;
    }
  }
  