<form (ngSubmit)="personalDataForm()">
    <h2>Formularz Rejestracji - Dane Osobowe</h2>
  
    <label for="firstName" class="form-label">Imię:</label>
    <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="personalData.firstName" required>
  
    <label for="lastName" class="form-label">Nazwisko:</label>
    <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="personalData.lastName" required>
  
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="personalData.email" required>
  
    <label for="phoneNumber" class="form-label">Numer Telefonu:</label>
    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="personalData.phoneNumber" required>
  
    <label for="city" class="form-label">Miasto:</label>
    <input type="text" class="form-control" id="city" name="city" [(ngModel)]="personalData.city" required>

    <label for="street" class="form-label">Ulica/Osiedle:</label>
    <input type="text" class="form-control" id="street" name="street" [(ngModel)]="personalData.street" required>

    <label for="house-number" class="form-label">Numer domu/mieszkania:</label>
    <input type="TEXT" class="form-control" id="houseNumber" name="houseNumber" [(ngModel)]="personalData.houseNumber" required>

    <label for="zipcode" class="form-label">Kod pocztowy:</label>
    <input type="text" class="form-control" id="zipcode" name="zipcode" [(ngModel)]="personalData.zipcode" required>

    <button type="submit">Dalej</button>
</form>

<button (click)="goBack()">Wróć</button>
