button.goBack {
  margin-top: 10px;
  margin-left: 10px;
  width: 120px;
  cursor: pointer;
  background-color: var(--light-blue-color);
  color: var(--white-color);
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 1em;
  text-align: center;
  transition: background-color 0.3s;

  &:hover {
    opacity: 0.9;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: var(--dark-blue-color);
  color: #fff;
  padding: 12px;
  text-align: center;
}

td {
  padding: 5px;
  border: 1px solid #ddd;
}

tr {
  transition: background-color 0.3s;
}

button {
  background-color: var(--red-color);
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button.remove{
  background-color: var(--grey-color);
}

button.details{
  background-color: var(--creame-color);
  margin-bottom: 5px;
}

button:hover {
  opacity: 0.9;
}

h2{
  text-align: center;
}


