<button (click)="goBack()" class="goBack">Wróć</button>
<div *ngIf="visits.length">
    <h2>Wizyty</h2>
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Preferowana data</th>
          <th scope="col">Preferowana godzina</th>
          <th scope="col">Lekarz</th>
          <th scope="col">Typ wizyty</th>
          <th scope="col">Objawy</th>
          <th scope="col">Wizyta na NFZ</th>
          <th scope="col">Imię (Pacjent)</th>
          <th scope="col">Nazwisko (Pacjent)</th>
          <th scope="col">Email</th>
          <th scope="col">Numer telefonu</th>
          <th scope="col">Akcja</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let visit of visits">
          <td>{{ visit.doctor.preferredDate }}</td>
          <td>{{ visit.doctor.preferredTime }}</td>
          <td>{{ visit.doctor.doctor }}</td>
          <td>{{ visit.doctor.visitType }}</td>
          <td>{{ visit.doctor.symptoms }}</td>
          <td>{{ visit.doctor.nfzVisit }}</td>
          <td>{{ visit.patient.firstName }}</td>
          <td>{{ visit.patient.lastName }}</td>
          <td>{{ visit.patient.email }}</td>
          <td>{{ visit.patient.phoneNumber }}</td>
          <td>
            <button class="details" (click)="viewVisit(visit._id)">Podgląd</button>
            <button class="remove" (click)="removeVisit(visit._id)">Usuń</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
