.container-fluid {
  height: 100%;
  .row{
    height: 0vh;
    h1{
      font-size: 22px;
    }
    form{
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .left-side{
      background-color: var(--white-color) !important;
      padding-top: 10%;
      padding-bottom: 10%;
      img{
        width: 80%;
        display: block;
        margin: 0 auto;
      }
    }
    .right-side{
      background-color: var(--white-color) !important;
      padding-top: 10%;
      padding-bottom: 10%;
      img{
        width: 80%;
        display: block;
        margin: 0 auto;
      }
    }
    .mx-auto{
      background-color: var(--white-color) !important;
    }

    }
  }
  .checkbox-wrapper {
    display: flex;
    justify-content: left;
    margin-top: 15px;
  }
  .form-check-control {
    margin-right: 8px;
    padding: 8px 16px;
    background-color: #3084bd;
  }

  .form-check-label {
    margin: 0;
  }
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  input,
  select,
  textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #f3f3f3;
  }

  textarea {
    resize: vertical;
  }

  .buttons{
    text-align: center;
  }
  button {
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #3b72f9;
    color: var(--white-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
  label.checkbox-label {
    display: left;

    input {
      margin-right: 8px ;
    }
  }

button.goBack {
  margin-top: 10px;
  margin-left: 10px;
  width: 120px;
  cursor: pointer;
  background-color: var(--light-blue-color);
  color: var(--white-color);
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 1em;
  text-align: center;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--light-blue-color);
  }
}
