.container-fluid {
  background-color: #fff; /* Dodaj kolor tła dla całej strony */
  padding: 20px; /* Dodaj odstępy dookoła kontenera */

  .row {
    height: 0vh;
  }

  .col-md-4 {
    background-color: #f4f4f4; /* Dodaj kolor tła dla formularza */
    padding: 20px; /* Dodaj wewnętrzne odstępy dla formularza */
    border-radius: 8px; /* Dodaj zaokrąglenie rogów */

    form {
      max-width: 600px; /* Ustaw maksymalną szerokość formularza */
      .checkbox-wrapper {
        height: auto;
        display: flex;
        place-items: center;
        justify-content: left;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      
      .form-check-control {
        height: auto;
        margin-right: 8px;
      }
      
      .form-check-label {
        margin: 0;
        font-size: 16px;
        color: #333;
      }
      
      
      #registrationType {
        width: 100%;
      }
      
      h2 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
      }
      
      label {
        display: block;
        margin-bottom: 8px;
        color: #333;
      }
      
      select,
      input,
      textarea {
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        background-color: #f3f3f3;
      }
      
      textarea {
        resize: vertical;
      }
      
      button {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        padding: 10px;
        background-color: #3b72f9;
        color: var(--white-color);
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;
      
        &:hover {
          opacity: 0.8;
        }
      }
      
      label.checkbox-label {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      
        input {
          margin-right: 8px;
        }
      }
    }
  }
}
button.goBack {
    margin-top: 10px;
    margin-left: 10px;
    width: 120px;
    cursor: pointer;
    background-color: var(--red-color);
    color: var(--white-color);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.3s;
  
    &:hover {
      opacity: 0.9;
    }
  }