.container {
  padding-top: 5%;
  button {
    width: 250px;
    display: block;
    background-color: var(--red-color);
    color: var(--white-color);
    margin: 0 auto;
    padding: 10px;
    margin-top: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}
