@import 'bootstrap/dist/css/bootstrap.min.css';
:root {
  --red-color: #BF0426;
  --grey-color: #6380A6;
  --light-blue-color: #3b72f9;
  --dark-blue-color: #044D8C;
  --creame-color: #BF907E;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --white-bg-color: #ffffff;
}

body {
    background-color: var(--white-color);
}
button.goBack {
  cursor: pointer;
  background-color: var(--light-blue-color);
  color: var(--white-color);
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1em;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--light-blue-color);
  }
}
