<button (click)="goBack()" class="goBack">Wróć</button>
<div *ngIf="tests.length ">
    <h2>Badania</h2>
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Preferowana data</th>
          <th scope="col">Preferowana godzina</th>
          <th scope="col">Typ badania</th>
          <th scope="col">Badanie na NFZ</th>
          <th scope="col">Imię (Pacjent)</th>
          <th scope="col">Nazwisko (Pacjent)</th>
          <th scope="col">Email</th>
          <th scope="col">Numer telefonu</th>
          <th scope="col">Rodzaj rejestracji</th>
          <th scope="col">Dodatkowe informacje</th>
          <th scope="col">Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of tests">
          <td>{{ test.testType.preferredDate }}</td>
          <td>{{ test.testType.preferredTime }}</td>
          <td>{{ test.testType.testType }}</td>
          <td>{{ test.testType.nfzTest }}</td>
          <td>{{ test.patient.firstName }}</td>
          <td>{{ test.patient.lastName }}</td>
          <td>{{ test.patient.email }}</td>
          <td>{{ test.patient.phoneNumber }}</td>
          <td>{{ test.testType.additionalInfo }}</td>
          <td>{{ test.consent.registrationType }}</td>
          <td>
            <button class="details" (click)="viewTest(test._id)">Podgląd</button>
            <button class="remove" (click)="removeTest(test._id)">Usuń</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
