html{
  background-color: red;
}
.container {
  padding-top: 5%;
  .change-button {
    background-color: var(--light-blue-color);
    width: 160px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }

  #login-client,
  #login-worker {
    h1 {
      text-align: center;
      color: black;
    }

    form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: var(--white-color);
      box-shadow: 0 4px 8px var(--black-color);

      label {
        display: block;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      button {
        width: 100%;
        padding: 10px;
        background-color: var(--red-color);
        color: var(--white-color);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
