<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 left-side">
      <img src="../../../assets/wallpaper.png" alt=""/>
    </div>
    <div class="col-md-7 right-side">
    <div *ngIf="showClientForm && !isClientLoggedIn" id="login-client">
      <h1>Zaloguj się do Portalu Pacjenta</h1>
           <form [formGroup]="clientForm" (ngSubmit)="onClientLogin()">
        <label for="username" class="form-label">Identyfikator</label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="Wpisz id">

        <label for="password" class="form-label">Hasło</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Wpisz hasło">
        <button type="submit" [disabled]="!clientForm.valid" >Zaloguj się</button>
      </form>
  </div>

    <div *ngIf="showWorkerForm" id="login-worker">
      <h1>Zaloguj się do Portalu Pracownika</h1>
       <form [formGroup]="workerForm" (ngSubmit)="onEmployeeLogin()">
        <label for="username" class="form-label">Identyfikator</label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="Wpisz id">

        <label for="password" class="form-label">Hasło</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Wpisz hasło">

          <button type="submit" [disabled]="!workerForm.valid">Zaloguj się</button>
      </form>
    </div>
  <button (click)="toggleForm()" class="btn btn-primary change-button">Zamień typ konta</button>
  </div>
  </div>
</div>
