<div class="container">
  <div *ngIf="showClientForm && !isClientLoggedIn" id="login-client">
      <h2>Użytkownik</h2>
      <form [formGroup]="clientForm" (ngSubmit)="onClientLogin()">
          <label for="username" class="form-label">ID:</label>
          <input type="text" class="form-control" id="username" formControlName="username">

          <label for="password" class="form-label">Hasło:</label>
          <input type="password" class="form-control" id="password" formControlName="password">

          <button type="submit" [disabled]="!clientForm.valid">Zaloguj się</button>
      </form>
  </div>

  <div *ngIf="showWorkerForm" id="login-worker">
      <h2>Pracownik</h2>
      <form [formGroup]="workerForm" (ngSubmit)="onEmployeeLogin()">
          <label for="username" class="form-label">ID:</label>
          <input type="text" class="form-control" id="username" formControlName="username">

          <label for="password" class="form-label">Hasło:</label>
          <input type="password" class="form-control" id="password" formControlName="password">

          <button type="submit" [disabled]="!clientForm.valid">Zaloguj się</button>
      </form>
  </div>

  <button (click)="toggleForm()" class="btn btn-primary change-button">Zamień typ konta</button>
</div>
